# Clojure / Leiningen
/target/
/.lein-*
/.nrepl-port
.classpath
*.class
*.jar

# MIDI temp files
/tmp/
*.mid

# IDE
*.iml
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# references
/java-reference/
/julia-reference/
/kotlin-reference/
/python-reference/